<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HIKARIFIELD Helper (Beta)</title>
		<!-- favicon图标 -->
		<link rel="icon" type="image/x-icon" href=".public/favicon.ico">
		<!-- CSS文件 -->
		<link rel="stylesheet" href="./public/static/style.css?v=1.1">
		<!-- Google AdSense 广告代码开始 -->
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9669247653381980"
			 crossorigin="anonymous"></script>
		<!-- Google AdSense 广告代码结束 -->
		<!-- google analytics 数据统计 - 开始 -->
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-PTPWCH75PE"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-PTPWCH75PE');
		</script>
		<!-- google analytics 数据统计 - 结束 -->
		<!-- v6.51.la 数据统计 - 开始 -->
		<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
		<script>LA.init({id:"KPyrJ7PaGAO6zUUY",ck:"KPyrJ7PaGAO6zUUY",autoTrack:true,screenRecord:true})</script>
		<!-- v6.51.la 数据统计 - 结束 -->
		<!-- 灵雀应用监控 perf.51.la 数据统计 - 开始 -->
		<script src="https://sdk.51.la/perf/js-sdk-perf.min.js" crossorigin="anonymous"></script>
		<script>
		  new LingQue.Monitor().init({id:"KPyqnoTu4SigmcaZ",sendSuspicious:true,ignoreVendor:false});
		</script>
		<!-- 灵雀应用监控 perf.51.la 数据统计 - 结束 -->
		<!-- 百度 数据统计 - 开始 -->
		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?ba7228ac1d26d44bdb720a5c86c3636e";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
		<!-- 百度 数据统计 - 结束 -->
		<!-- bing webmasters https://www.bing.com/webmasters HTML Meta 标记 - 开始 -->
		<meta name="msvalidate.01" content="5B3E669BEC8B1016264E34294A52478E" />
		<!-- bing webmasters https://www.bing.com/webmasters HTML Meta 标记 - 结束 -->
		<!-- 百度搜索资源平台 ziyuan.baidu.com HTML标签验证 - 开始 -->
		<meta name="baidu-site-verification" content="codeva-lTZvxGCd2x" />
		<!-- 百度搜索资源平台 ziyuan.baidu.com HTML标签验证 - 结束 -->
		<!-- 搜狗搜索资源平台 zhanzhang.sogou.com HTML标签验证 - 开始 -->
		<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
		<meta name="sogou_site_verification" content="ruJvwh6Y8S" />
		<!-- 搜狗搜索资源平台 zhanzhang.sogou.com HTML标签验证 - 结束 -->
	</head>
	<body>
		<div id="app">
			<!-- 弹窗代码开始 -->
			<div class="web_notice" onclick="closePopup('.web_notice');">
				<div class="web_notice_box">
					<h3 class="web_notice_title">! 公告 !</h3>
					<h3 class="web_notice_title2">! 点击任意位置即可关闭 !</h3>
				</div>
			</div>
			<script>
				function closePopup(popupClass) {
					const popup = document.querySelector(popupClass);
					if (popup.style.display === 'none') {
						popup.style.display = 'block'; // 点击展开
					} else {
						popup.style.display = 'none'; // 点击关闭
					}
				}
			</script>
			<!-- 弹窗代码结束 -->

			<!-- 隐藏的音频元素用于播放 WAV文件 -->
			<audio id="audioPlayer" src="./Ciallo～(∠・ω＜)⌒☆.wav" type="audio/x-ms-wma"></audio>
			<script>
				// 播放音频文件的函数
				function playAudio() {
					var audioPlayer = document.getElementById('audioPlayer');
					audioPlayer.play();
				}
				
				// 为 body 添加事件监听器，点击时播放音频
				document.body.addEventListener('click', playAudio);
			</script>
			
			<h1 align="center">HIKARIFIELD Helper (Beta)</h1>
			<h2 align="center">本页信息收集于网络，如有错误联系</h2>
			<p align="center">点击按钮显示/隐藏</p>
			<div style="text-align:center">
				<button onclick="document.querySelector('.web_notice').style.display = 'block';"data-anim="4" data-area-w="80%" data-area-h="90%" data-shade="false"
					class="kz-nav-btn btn btn-danger col-lg-4">
					<br>查看公告<br><br>///
				</button>
				<button @click="show_change_log = !show_change_log"><br>更新日志<br><br>///</button>
				<div v-show="show_change_log">
					<br><br>
					<button onclick="window.open('https://txc.qq.com/products/648445/change-log', '_blank');">在新窗口查看“更新日志”</button>
					<br><br>
					<iframe src="https://txc.qq.com/products/648445/change-log" width="80%" height="500vh"></iframe>
				</div>
				<button @click="show_QandA = !show_QandA"><br>答疑解惑<br><br>///</button>
				<div v-show="show_QandA">
					<div class="web_notice_content">
						<p class="web_notice_content_1">注：以下是近期遇到的本页相关“名词”或其他疑问的解答。</p>
						<p>问：什么是“HF促销历低”？<br>
							答：“HF促销历低”是指<a href="https://store.hikarifield.co.jp/">HIKARI FIELD</a>商城在售的视觉小说官方促销价历史最低价格。</p>
						<p>问：什么是“代购¥”？<br>
							答：“代购¥”是本人代为购买相关作品的价格。<br>
							（注！该价格仅在促销期间有效，价格仅供参考，当网页服务正常运作的情况下实际售价绝不高于公示价，请以实际情况为准。）</p>
						<p>问：什么是“抽奖链接¥”？<br>
							答：“抽奖链接¥”是指本人在HF积分抽奖中抽出作品的出售价。<br>
							（“抽奖链接¥”的前提1.该作品为HF抽奖产出的奖品，2.本人不需要该奖品）<br>
							注：“抽奖链接¥”非常驻出售，请关注本人🐟/贴吧相关信息。</p>
						<p>问：什么是“抽奖key¥”？<br>
							答：“抽奖key¥”与链接性质差不多，不过只有SteamKEY<br>
							（“抽奖key¥”的前提1.该作品为HF抽奖产出的奖品，2.本人需要该奖品用于激活HF账号，但不需要该作品的steam激活码）<br>
							注：“抽抽奖key¥”非常驻出售，请关注本人🐟/贴吧相关信息。</p>
						<p>问：待补充<br>答：待补充</p>
						<p class="web_notice_content_1">以上就是对对于本页相关内容的答疑，如果还有其他问题欢迎联系我。</p>
					</div>
				</div>
				<button onclick="window.open('https://txc.qq.com/products/648445/', '_blank');"><br>反馈/提议<br><br>///</button>
				<br>
				<script id="LA-DATA-WIDGET" crossorigin="anonymous" charset="UTF-8" src="https://v6-widget.51.la/v6/KPyrJ7PaGAO6zUUY/quote.js?theme=0&f=12"></script>
				<br>
				<!-- 表格切换代码开始 -->
				<button onclick="showTable('switchTable1')"><br>视觉小说<br><br>///</button>
				<button onclick="showTable('switchTable2')"><br>音声作品<br><br>///</button>
				<button onclick="showTable('switchTable3')"><br>实物周边<br><br>///</button>
				<button onclick="showTable('switchTable4')"><br>黑名单<br><br>///</button>
				<!-- 表格切换代码结束 -->
			</div>

			<br><br>

			<!-- 搜索框 -->
			<div style="text-align:center; margin-bottom:20px;">
				<input type="text" id="searchInput" placeholder="输入关键字搜索..." style="width: 300px; padding: 10px; margin-right: 10px;">
				<button onclick="searchTables()">搜索</button>
			</div>
			
			<!-- 搜索框JavaScript代码 -->
			<script>
			function searchTables() {
				var input, filter, tables, tr, td, i, j, visible;
				input = document.getElementById("searchInput");
				filter = input.value.toUpperCase();
				tables = document.getElementsByClassName("switchTable");
				for (i = 0; i < tables.length; i++) {
					tr = tables[i].getElementsByTagName("tr");
					for (j = 1; j < tr.length; j++) { // 从1开始以跳过表头行
						tr[j].style.display = "none"; // 默认隐藏所有行
						td = tr[j].getElementsByTagName("td");
						for (var k = 0; k < td.length; k++) {
							if (td[k]) {
								if (td[k].innerHTML.toUpperCase().indexOf(filter) > -1) {
									tr[j].style.display = ""; // 如果找到关键字，显示该行
									break; // 停止搜索其他单元格
								}
							}
						}
					}
				}
				}
				</script>

			<div id="switchTable1" class="switchTable"><br><br>
				<button @click="show_Console = !show_Console"><br>打开/关闭控制台<br>///</button>
				<div v-show="show_Console">
					<button @click="show_game_img = !show_game_img">游戏预览图</button>
					<button @click="show_game_name = !show_game_name">游戏名称</button>
					<button @click="show_hf_price = !show_hf_price">HF价格</button>
					<button @click="show_steam_price = !show_steam_price">Steam价格</button>
					<button @click="show_other_price = !show_other_price">其他途径<br>（默认隐藏）</button>
					<button @click="show_godWay = !show_godWay">仙人指路<br>（默认隐藏）</button>
					<button @click="show_game_id = !show_game_id">游戏ID</button>
					<button @click="show_game_publisher = !show_game_publisher">开发商</button>
					<button @click="show_release_time = !show_release_time">发售时间</button>
				</div>
				<br>
				
				<table border="0" cellspacing="0" cellpadding="0">
					<!--标题-->
					<tr>
						<th v-show="show_game_img">游戏预览图</th>
						<th v-show="show_game_name">游戏名称<p class="top">点击名称即可访问HF商城</p></th>
						<th v-show="show_hf_price">HF价格<p class="top_redfont">代购折扣仅限一次先到先得</p>更新时间2024.06.28<br>本次促销结束时间2024.07.06</th>
						<th v-show="show_steam_price">Steam价格<p class="top_redfont">注意！受汇率影响</p><p class="top">此处未计算Steam余额等其他折扣</p>更新时间2024.05.18</th>
						<th v-show="show_other_price">其他途径<p class="top">如有补充欢迎联系</p></th>
						<th v-show="show_godWay">仙人指路<p class="top_redfont">资源收集于网络<br>本站不提供任何下载服务</p><p class="top">如遇问题欢迎联系</p></th>
						<th v-show="show_game_id">游戏ID<p class="top">Steam商品ID</p></th>
						<th v-show="show_game_publisher">开发商<p class="top">部分社团资料较少<br>如有错误欢迎指正</p></th>
						<th v-show="show_release_time">发售时间<p class="top">此处时间采集于HF游戏介绍</p></th>
					</tr>
					<!--Galgame模板-->
                	<tr v-for="game in games" :key="game.id">
						<!-- 游戏预览图 -->
						<td v-show="show_game_img" class="image-container">
							<img :src="imageServerUrl + './public/images/galgames/' + game.id + '/' + game.id + '.jpg'" alt="game.id" height="300%" width="auto">
						</td>
						<!-- 游戏名称 -->
						<td v-show="show_game_name">
							<a :href="'https://store.hikarifield.co.jp/shop/' + game.id" target="_blank">{{ game.name }}</a>
						</td>
						<!-- HF价格 -->
						<td v-show="show_hf_price">
							<p class="hfSpecialOffer">当前¥{{ getPrice(game.id, 'now') }}</p>
							史低¥{{ getPrice(game.id, 'low') }} 原价¥{{ getPrice(game.id, 'old') }}
							<br>
							礼品¥{{ getPrice(game.id, 'gift') }} {{ buyForYouPrice(getPrice(game.id, 'gift')) }}
						</td>
						<!-- Steam价格 -->
						<td v-show="show_steam_price">
							国区￥{{steamInfo[game.id].prices.cnLow}}
							<br>
							{{ steamInfo[game.id].prices.country }}{{ steamInfo[game.id].prices.low }}
						</td>
						<!-- 其他途径 -->
						<td v-show="show_other_price">
							功能代码重构中
						</td>
						<!-- 仙人指路 -->
						<td v-show="show_godWay">
							<a :href="'./godWay?hfGameId=' + game.id">
							  <button>点击跳转</button>
							</a>
						</td>
						<!-- 游戏ID -->
						<td v-show="show_game_id">
							<a :href="'https://steamdb.info/app/' + steamInfo[game.id].appId" target="_blank">{{ steamInfo[game.id].appId }}</a>
						</td>
						<!-- 开发商 -->
						<td v-show="show_game_publisher">
							{{ developers[game.developerId]?.developer.name || 'Unknown' }}
							功能代码重构中
						</td>
						<!-- 发售时间 -->
						<td v-show="show_release_time">
							{{ game.release_time }}
						</td>
					</tr>
				</table>
			</div>
			<div id="switchTable2" class="switchTable"><br><br>
				<button @click="show_Console = !show_Console"><br>打开/关闭控制台<br>///</button>
				<div v-show="show_Console">
					<button @click="show_audio_works_img = !show_audio_works_img">作品预览图</button>
					<button @click="show_audio_works_name = !show_audio_works_name">作品名称</button>
					<button @click="show_hf_audio_works_price = !show_hf_audio_works_price">HF价格</button>
					<button @click="show_hf_audio_works_SCprice = !show_hf_audio_works_SCprice">SLAM CARD价格</button>
					<button @click="show_audio_works_publisher = !show_audio_works_publisher">开发商</button>
					<button @click="show_audio_works_release_time = !show_audio_works_release_time">发售时间</button>
				</div>
				<table border="0" cellspacing="0" cellpadding="0">
					<!--标题-->
					<tr>
						<th v-show="show_audio_works_img">作品预览图</th>
						<th v-show="show_audio_works_name">作品名称<p class="top">点击名称即可访问HF商城</p></th>
						<th v-show="show_hf_audio_works_price">HF价格<br>更新时间2024.06.20<br>本次促销结束时间2024.06.17</th>
						<th v-show="show_hf_audio_works_SCprice">SLAM CARD价格<br>更新时间2024.06.20</th>
						<th v-show="show_audio_works_publisher">开发商<p class="top">部分社团资料较少<br>如有错误欢迎指正</p></th>
						<th v-show="show_audio_works_release_time">发售时间<p class="top">此处时间采集于HF游戏介绍</p></th>
					</tr>
					<tr v-for="(item, index) in table_audio_works">
						<!-- 游戏预览图 -->
						<td v-show="show_audio_works_img" class="image-container">
							<img :src="imageServerUrl + './public/images/audio_works/' + item.hf_audio_works_info.hf_audio_works_id + '/' + item.hf_audio_works_info.hf_audio_works_id + '.jpg'" alt="item.hf_audio_works_info.hf_audio_works_id" height="300%" width="auto">
						</td>
						<!--游戏名称-->
						<td v-show="show_audio_works_name">
							<a :href="'https://store.hikarifield.co.jp/shop/' + item.hf_audio_works_info.hf_audio_works_id" target="_blank">{{ item.audio_works_name }}</a>
						</td>
						<!--HF促销最低价-->
						<td v-show="show_hf_audio_works_price">
							<p class="hfSpecialOffer">当前¥{{ item.hf_audio_works_info.hf_audio_works_prices.hf_audio_works_now_price }}</p>
							史低¥{{ item.hf_audio_works_info.hf_audio_works_prices.hf_audio_works_low_price }}
							原价¥{{ item.hf_audio_works_info.hf_audio_works_prices.hf_audio_works_old_price }}
							<br>
							礼品¥{{ item.hf_audio_works_info.hf_audio_works_prices.hf_gift_price }}
							{{ buyForYouPrice(item.hf_audio_works_info.hf_audio_works_prices.hf_gift_price) }}
						</td>
						<!--SLSLAM CARD价格格-->
						<td v-show="show_hf_audio_works_SCprice">
							<p class="hfSpecialOffer">当前¥{{ item.hf_audio_works_info.hf_audio_works_prices.hf_audio_works_SLAM_CARD_now_price }}</p>
							<p class="hfSLAM_CARD">史低¥{{ item.hf_audio_works_info.hf_audio_works_prices.hf_audio_works_SLAM_CARD_low_price }}</p>
						</td>
						<!--开发商-->
						<td v-show="show_audio_works_publisher">
							<a :href="item.audio_works_publisher.audio_works_publisher_url" target="_blank">
								{{ item.audio_works_publisher.audio_works_publisher_name }}</a>
								<!--<br>{{ item.audio_works_publisher_nickname }}-->
								<br>
								{{ item.audio_works_publisher.audio_works_publisher_history }}
							</td>
						<!--发售时间-->
						<td v-show="show_audio_works_release_time">
							{{ item.audio_works_release_time }}
						</td>
					</tr>
				</table>
			</div>
			<div id="switchTable3" class="switchTable">
				<p class="hfSpecialOffer">等待更新</p>
				<button @click="show_Console = !show_Console"><br>打开/关闭控制台<br>///</button>
				<div v-show="show_Console">
					<button @click="show_goods_id = !show_goods_id">编号</button>
					<button @click="show_goods_img = !show_goods_img">周边预览图</button>
					<button @click="show_goods_name = !show_goods_name">周边名称</button>
					<button @click="show_goods_price = !show_goods_price">价格</button>
					<button @click="show_goods_goodsSize = !show_goods_goodsSize">产品规格</button>
					<button @click="show_goods_stockStatus = !show_goods_stockStatus">库存状态</button>
					<button @click="show_goods_workName = !show_goods_workName">所属作品</button>
					<button @click="show_goods_salesTime = !show_goods_salesTime">销售时间</button>
				</div>
				<table border="0" cellspacing="0" cellpadding="0">
					<!--标题-->
					<tr>
						<th v-show="show_goods_id">编号</th>
						<th v-show="show_goods_img">周边预览图</th>
						<th v-show="show_goods_name">周边名称<p class="top">点击名称即可访问HF商城</p></th>
						<th v-show="show_goods_price">价格<br>更新时间2024.06.05<br>本次促销结束时间2024.06.17</th>
						<th v-show="show_goods_goodsSize">产品规格</th>
						<th v-show="show_goods_stockStatus">库存状态<br>更新时间2024.06.05</th>
						<th v-show="show_goods_workName">所属作品</th>
						<th v-show="show_goods_salesTime">销售时间<p class="top">此处时间采集于HF游戏介绍</p></th>
					</tr>
					<tr v-for="(item, index) in table_goods">
						<!--编号-->
						<td v-show="show_goods_id">
							<p>{{ item.id }}</a>
						</td>
						<!-- 周边预览图 -->
						<td v-show="show_goods_img" class="image-container">
							<img :src="imageServerUrl + './public/images/goods/' + item.imgUrl" alt="item.imgUrl" height="300%" width="auto">
						</td>
						<!--周边名称-->
						<td v-show="show_goods_name">
							<a :href="'https://store.hikarifield.co.jp/goods/' + item.id" target="_blank">{{ item.goodsName }}</a>
						</td>
						<!--价格-->
						<td v-show="show_goods_price">
							<p class="hfSpecialOffer">当前￥{{ item.price.nowPrice }}</p>
							SC价￥{{ item.price.scPrice }}
							<br>
							史低价￥{{ item.price.lowPrice }}
							<br>
							原价￥{{ item.price.oldPrice }}
						</td>
						<!--产品规格-->
						<td v-show="show_goods_goodsSize">
							<p>{{ item.goodsSize }}</p>
						</td>
						<!--库存状态-->
						<td v-show="show_goods_stockStatus">
							<p>{{ item.stockStatus }}</p>
						</td>
						<!--所属作品-->
						<td v-show="show_goods_workName">
							<p>{{ item.workName }}</p>
						</td>
						<!--发售时间-->
						<td v-show="show_goods_salesTime">
							{{ item.salesTime }}
						</td>
					</tr>
				</table>
			</div>

		</div>
		<div id="switchTable4" class="switchTable">
		<p class="hfSpecialOffer">等待更新</p>
			<table border="0" cellspacing="0" cellpadding="0">
				<!--标题-->
				<tr>
					<th>小黑昵称</th>
					<th>拉黑原因</th>
					<th>社交帐号</th>
					<th>其他信息</th>
					<th>上榜时间<p class="top">本页收录时间</p></th>
				</tr>
				<tr>
					<!--小黑昵称-->
					<td><p class="hfSLAM_CARD"nsjsjsj<br>易洋看我</p></td>
					<!--拉黑原因-->
					<td><p class="hfSpecialOffer">诈骗</p><a href="./fuckman_tieba_nsjsjsj.pdf">点击查看相关截图</a></td>
					<!--社交帐号-->
					<td><a href="https://tieba.baidu.com/home/main?un=nsjsjsj&fr=pb&ie=utf-8&id=tb.1.711bf5da.wInZvxZcW7oUGUAinAnHiA">贴吧账号：nsjsjsj<br>贴吧ID：728763337</a><br>百度账号：易洋看我<br>QQ:1464167146</td>
					<!--其他信息-->
					<td>IP属地:河南<br>贴吧曾用ID：嗷呜芜湖芜湖</td>
					<!--上榜时间-->
					<td>2023.04.03</td>
				</tr>
			</table>
		</div>
		<!-- vue3代码开始 -->
		<script type="module">
			import { createApp, ref, computed } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";
	  
			createApp({
			  setup() {
				const imageServerUrl = "https://image.hikarifield.aurorb.cn/";//图床

				const table_galgames = ref([]);//“视觉小说”表格
				const show_game_img =ref(true);//“视觉小说”游戏预览图
				const show_game_name =ref(true);//“视觉小说”游戏名称
				const show_hf_price = ref(true);//“视觉小说”HF价格
				const show_steam_price = ref(true);//“视觉小说”Steam价格
				const show_other_price = ref(false);//“视觉小说”其他途径
				const show_godWay = ref(false);//“视觉小说”仙人指路
				const show_game_id = ref(true);//“视觉小说”游戏ID
				const show_game_publisher = ref(true);//“视觉小说”开发商
				const show_release_time = ref(true);//“视觉小说”发售时间

				const table_audio_works = ref([]);//“音声作品”表格
				const show_audio_works_img = ref([]);//“音声作品”作品预览图
				const show_audio_works_name = ref([]);//“音声作品”作品名称
				const show_hf_audio_works_price = ref([]);//“音声作品”HF价格
				const show_hf_audio_works_SCprice = ref([]);//“音声作品”HF-SC价格
				const show_audio_works_publisher = ref([]);//“音声作品”开发商
				const show_audio_works_release_time = ref([]);//“音声作品”发售时间

				const table_goods = ref([]);//“实物周边”表格
				const show_goods_id = ref([]);//“实物周边”编号
				const show_goods_img = ref([]);//“实物周边”周边预览图
				const show_goods_name = ref([]);//“实物周边”周边名称
				const show_goods_price = ref([]);//“实物周边”价格
				const show_goods_goodsSize = ref([]);//“实物周边”产品规格
				const show_goods_stockStatus = ref([]);//“实物周边”库存状态
				const show_goods_workName = ref([]);//“实物周边”所属作品
				const show_goods_salesTime = ref([]);//“实物周边”销售时间

				const show_change_log = ref(false);//更新日志
				const show_QandA = ref(false);//答疑解惑
				const show_Console = ref(false);//控制台
				
                const games = ref([]);
                const prices = ref({});
                const godWay = ref({});
                const steamInfo = ref({});
				const developers = ref({});

				const loadData = async () => {
					try {
						const [infoResponse, pricesResponse, steamInfoResponse, godWayResponse, developerResponse] = await Promise.all([
							fetch("./public/json/galgames_info.json").then(response => response.json()),
							fetch("./public/json/galgames_prices.json").then(response => response.json()),
							fetch("./public/json/galgames_steamInfo.json").then(response => response.json()),
							fetch("./public/json/galgames_godWay.json").then(response => response.json()),
							fetch("./public/json/galgames_developer.json").then(response => response.json())
						]);

						games.value = infoResponse;
						prices.value = pricesResponse.reduce((acc, curr) => {
							acc[curr.id] = curr.prices;
							return acc;
						}, {});
						godWay.value = godWayResponse.reduce((acc, curr) => {
							acc[curr.id] = curr.godWay;
							return acc;
						}, {});
						steamInfo.value = steamInfoResponse.reduce((acc, curr) => {
							acc[curr.id] = curr.steamInfo;
							return acc;
						}, {});
                        developers.value = developersResponse.reduce((acc, curr) => {
                            acc[curr.developerId] = curr;
                            return acc;
                        }, {});

						// Optionally, handle developers data
					} catch (error) {
						console.error("Error loading the JSON data:", error);
					}
				};

				const getPrice = (id, type) => {
					if (prices.value[id] && prices.value[id][type] && prices.value[id][type].length > 0) {
						return prices.value[id][type][0].price;
					}
					return 'N/A';
				};

				// Fetch data on component mount
				loadData();

				//代购折扣计算
				const buyForYouPrice = computed(() => (price) => {
				if (price < 10) {
					return "代购:97折";
				} else if (price >= 10 && price < 20) {
					return "代购:96折";
				} else if (price >= 20 && price < 30) {
					return "代购:95折";
				} else if (price >= 30 && price < 40) {
					return "代购:94折";
				} else if (price >= 40 && price < 50) {
					return "代购:93折";
				} else {
					return "代购:92折";
				}
				});

				
				Promise.all([
					fetch("./galgames_info.json").then(response => response.json()),
					fetch("./audio_works_info.json").then(response => response.json()),
					fetch("./goods_info.json").then(response => response.json())
				]).then(([galgamesJsonData, audioWorksJsonData, goodsJsonData]) => {
					table_galgames.value = galgamesJsonData;
					table_audio_works.value = audioWorksJsonData;
					table_goods.value = goodsJsonData;
				}).catch(error => {
					console.error("Error loading the JSON data:", error);
				});

				return {
					imageServerUrl,

					table_galgames,
					show_game_img,
					show_game_name,
					show_hf_price,
					show_steam_price,
					show_other_price,
					show_godWay,
					show_game_id,
					show_game_publisher,
					show_release_time,

					table_audio_works,
					show_audio_works_img,
					show_audio_works_name,
					show_hf_audio_works_price,
					show_hf_audio_works_SCprice,
					show_audio_works_publisher,
					show_audio_works_release_time,
					
					table_goods,
					show_goods_id,
					show_goods_img,
					show_goods_name,
					show_goods_price,
					show_goods_goodsSize,
					show_goods_stockStatus,
					show_goods_workName,
					show_goods_salesTime,

					show_change_log,
					show_QandA,
					show_Console,

					buyForYouPrice,

                    games,
                    getPrice,
                    godWay,
                    steamInfo,
                    developers
				};
			  },
			}).mount("#app");
		  </script>
		  <!-- vue3代码结束 -->
		<!-- 表格切换代码开始 -->
		<script>
			function showTable(tableId) {
				var tables = document.getElementsByClassName('switchTable');
				for (var i = 0; i < tables.length; i++) {
					tables[i].style.display = 'none';
				}
				document.getElementById(tableId).style.display = 'block';
			}

			window.onload = function() {
				showTable('switchTable1');
			}
		</script>
		<!-- 表格切换代码结束 -->

		<!-- google firebase - 开始 -->
		<script type="module">
		  // Import the functions you need from the SDKs you need
		  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-app.js";
		  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-analytics.js";
		  // TODO: Add SDKs for Firebase products that you want to use
		  // https://firebase.google.com/docs/web/setup#available-libraries

		  // Your web app's Firebase configuration
		  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
		  const firebaseConfig = {
			apiKey: "AIzaSyA_hoOfl4t9JVRpX-ZFFHO4OiX8_um9Oa4",
			authDomain: "hikarifield-c0c8c.firebaseapp.com",
			projectId: "hikarifield-c0c8c",
			storageBucket: "hikarifield-c0c8c.appspot.com",
			messagingSenderId: "224708739925",
			appId: "1:224708739925:web:869efaf7d54f76b517e5dc",
			measurementId: "G-PTPWCH75PE"
		  };

		  // Initialize Firebase
		  const app = initializeApp(firebaseConfig);
		  const analytics = getAnalytics(app);
		</script>
		<!-- google firebase - 结束 -->
	</body>
</html>